h1 {
    text-align:center;
}
th {
    text-align: center;
    background-color:gray;
    padding:10px;
}
table {
    margin:10px auto;
    width:80%;
    border:1px solid gray;
    padding:20px;
    border-collapse:collapse;
}
td {
    text-align:center;
}
tr {
    border:1px solid gray;
    border-collapse:collapse;
    padding:10px;
}
th, td {
    width:33.33%;
    border-left:1px solid gray;
}